@import './base.css';

/* 玉ねぎ楷書 */
@font-face {
  font-family: "TamanegiKaisho";
  src: url('./fonts/tamanegikaisho.ttf') format('truetype');
}

/* AsebiMin */
@font-face {
  font-family: "AsebiMin";
  src: url('./fonts/AsebiMin-Light.otf') format('opentype');
}

/* プロジェクト全体にフォントを適用 */
body {
  font-family: "TamanegiKaisho", "AsebiMin","Noto Serif JP";
}
